body {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  padding: 0.5em;
}

.logo {
  height: 2.5em;
}

.home-photo {
  width: 100vw;
}

.shopNewArrivals {
  position: absolute;
  bottom: 5em;
  right: 10em;
  background-color: white;
  padding: 1em 3em;
}