body {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  padding: 0.5em;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.header-right, .header-left {
  display: flex;
  justify-content: center;
  width: 4em;
  gap: 0.2em;
}

.logo {
  height: 3em;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.photo {
  width: 100vw;
}

.right-arrow {
  position: absolute;
  top: 7.5em;
  right: 0.5em;
  font-size: 2.5rem;
  color: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover, .left-arrow:hover {
  color: white;
}

.left-arrow {
  position: absolute;
  top: 7.5em;
  left: 0.5em;
  font-size: 2.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2.5s;
}

.slide-button {
  position: relative;
  font-family: "Quicksand";
  bottom: 8em;
  left: 65em;
  background-color: white;
  border: 1px solid black;
  padding: 1em 3em;
  font-size: 14px;
}

.slide-button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -48px;
  gap: 5em;
  padding: 3em 5em;
}

.content-text {
  font-size: 13px;
  text-align: center;
  width: 40vw;
}

h2 {
  font-size: 16px;
  letter-spacing: 1.5px;
}

.content-image {
  width: 400px;
}

.footer, .footer-top-right {
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: 1px solid rgb(218,218,218);
}

.footer-top, .footer-top-left {
  display: flex;
  align-items: flex-start;
}

.footer-top-left {
  width: 50vw;
  font-size: 13px;
  gap: 60px;
  justify-content: center;
  padding: 20px 30px;
}

.footer-top-right {
  padding: 20px 30px;
}

.ghlogo {
  height: 14px;
}

.github {
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 5px;
  padding: 1em;
  background-color: rgb(250,250,250);
}

li {
  list-style: none;
  line-height: 3em;
}

.email {
  padding: 1em;
  font-family: "quicksand";
  width: 15em;
  margin-top: 1em;
}

.comingsoon {
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.prod.img {
  width: 250px;
}

.prod {
  font-size: 14px;
}

.prod.material {
  font-size: 12px;
}

.prod.name {
  text-transform: uppercase;
}

.prod.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.prod.title {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.navbar {
  width: 100vw;
  display: flex;
  border-bottom: 1px solid rgb(218,218,218);
  font-size: 14px;
  letter-spacing: 1.2px;
  justify-content: center;
  gap: 5em;
}

.active {
  text-decoration: underline;
}

.navbar a:hover {
  text-decoration: underline;
}

.addToBag {
  width: 250px;
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0.8em 0em;
  margin-top: 0.5em;
}

.addToBag:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.bag.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;
}

.bag.img {
  max-width: 100px;
}

.bag.row {
  display: flex;
  width: 500px;
}

.edit-qty {
  display: flex;
}